@import "normalize.css";
body {
  box-sizing: border-box;
}
.el-icon {
  cursor: pointer;
}
.el-button:focus-visible {
  outline: 0;
}
.el-drawer {
  .el-drawer__header {
    height: 40px;
    padding: 10px 20px;
    margin-bottom: 10px;
    font-weight: bold;
    color: #000000e6;
    border-bottom: 1px solid #e8e8e8;
  }
}
.el-dialog {
  .el-dialog__header {
    margin-right: 0;
    border-bottom: 1px solid #e4e7ed;
    .el-dialog__title {
      font-size: 18px;
      font-weight: bold;
      color: #252f41;
    }
  }
  .el-dialog__body {
    .el-form-item:last-child {
      margin-bottom: 0;
    }
  }
  .el-dialog__footer {
    text-align: center;
  }
}
.el-pagination {
  .el-select .el-input {
    width: 110px;
  }
  button,.el-pager li {
    height: 30px;
    min-width: 30px;
  }
  .el-pagination__editor.el-input {
    width: 50px;
  }
}
.el-menu--horizontal>.el-sub-menu .el-sub-menu__title {
  color: #fff;
}
.el-card {
  transition: none;
}
