* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "pingfang sc";
}
html,
body {
  width: 100% !important;
}
.el-icon {
  cursor: pointer;
}
.el-button:focus-visible {
  outline: 0;
}
.el-drawer {
  .el-drawer__header {
    height: 40px;
    padding: 10px 20px;
    margin-bottom: 10px;
    font-weight: bold;
    color: #000000e6;
    border-bottom: 1px solid #e8e8e8;
  }
}

// .el-dialog {
//   .el-dialog__header {
//     margin-right: 0;
//     .el-dialog__title {
//       font-size: 18px;
//       font-weight: bold;
//       color: #252f41;
//     }
//   }
//   .el-dialog__body {
//     .el-form-item:last-child {
//       margin-bottom: 0;
//     }
//   }
//   .el-dialog__footer {
//     text-align: center;
//   }
// }
.container {
  min-height: 100%;
  padding: 20px;
  color: #333;
  background-color: #fff;
  box-shadow: 0 0 10px rgb(0 0 0 / 8%);
}
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}
::-webkit-scrollbar-thumb {
  background: rgb(0 0 0 / 20%);
  border-radius: 5px;
}
::-webkit-scrollbar-track {
  background: rgb(0 0 0 / 10%);
  border-radius: 0;
}
